.contact_container {
    display: flex;
    margin-top: 3rem;
    gap: 2rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
}

.image_contact {
    background-image: url("../assets/5124556.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;



}

/* style rules for content section*/

.error-form {
    color: red;
}

/*style rules for form section*/

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    padding: 10px;

}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

form div input {
    position: relative;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #c4c4c4;
    padding: 0 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 15px;
}

form div {
    position: relative;
    margin-bottom: 15px;
}

input:focus {
    border: 2px solid #f2796e;
}

.contact_btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}

.social {
    margin-right: 40px;
}

.contact-textarea {
    width: 100%;
    height: 20vh;
}

form div i {
    position: absolute;
    padding: 6px;
}

.failure-icon,
.success-icon {
    right: 0;
    opacity: 0;
}

.failure-icon,
.error {
    color: red;
}

.success-icon {
    color: green;
}

.error-form {
    font-size: 12px;
    margin-top: 3px;
}


button {
    margin-top: 15px;
    width: 100%;
    height: 45px;
    background-color: #f2796a;
    border: 2px solid #f2796a;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease;
}

button:hover {
    opacity: 0.8;
}

i {
    z-index: 10;
}

input+div {
    position: absolute;
    right: 40px;
    top: 30px;
    height: 30px;
}

input+div>i {
    font-size: 20px;
    font-weight: bold;
}


.bi-check-lg {
    color: green;
}

.bi-x {
    color: red;
}

.valid {
    border: 2px solid green;
}

.invalid {
    border: 2px solid red;
}


@media (max-width: 900px) {
    .contact_container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    #form,
    .content {
        width: 90%;
    }
}

@media (max-width: 450px) {
    #form {
        padding: 20px;
    }
}