.contact_container {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3rem;
    gap: 2rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

.image_contact {
    background-image: url("../assets/5124556.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

/* style rules for content section*/

.error-form {
    color: red;
}

/*style rules for form section*/

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    padding: 10px;

}

.title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

form div input,
.contact-textarea {
    position: relative;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: 2px solid var(--bg-text-y);
    padding: 0 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.contact-input {
    height: 20vh;
    width: 108%;
    padding: 0 8px !important;

}

label {
    display: block;
    margin-bottom: 18px;
}

form div {
    position: relative;
    margin-bottom: 15px;
}

input:focus {
    border: 1px solid var(--text-color-y);

}

.social {
    margin-right: 40px;
}



form div i {
    position: absolute;
    padding: 6px;
}

.failure-icon,
.success-icon {
    right: 0;
    opacity: 0;
}

.failure-icon,
.error {
    color: red;
}

.success-icon {
    color: green;
}

.error-form {
    font-size: 12px;
    margin-top: 3px;
}


.form_submit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

i {
    z-index: 10;
}

input+div {
    position: absolute;
    right: 40px;
    top: 30px;
    height: 30px;
}

input+div>i {
    font-size: 16px;
    font-weight: bold;

}

.bi-x,
.bi-check-lg {
    color: red;
    margin: 1.0rem;
    padding: .4rem;
}

.bi-check-lg {
    color: green !important;
}



.valid {
    border: 2px solid green;
}

.invalid {
    border: 2px solid red;
}


@media (max-width: 900px) {
    .contact_container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    #form,
    .content {
        width: 90%;
    }
}

@media (max-width: 450px) {
    #form {
        padding: 20px;
    }
}