/* hero-section on index page  */

@media (max-width: 1680px) {
    .container {
        max-width: 1200px;
    }

    .section__hero {
        padding-top: 4px;
    }
}

@media (max-width: 1280px) {
    .container {
        max-width: 950px;
    }
}

@media (max-width: 980px) {
    .container {
        max-width: 890px;
        padding: 10px 20px !important;
    }

    .grid-post {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 799px) {

    .section__two {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .hero {
        grid-template-columns: repeat(1, 1fr);

    }

    .hero_left>h1 {
        font-size: 2.5rem;

    }

    .hero-image {
        width: 100%;
    }

    address {
        display: flex;
        justify-content: center;

    }

    .grid-post {
        grid-template-columns: repeat(1, 1fr);
    }

    .options {
        background-color: var(--text-color-y);
        position: absolute;
        opacity: 100%;
        top: 5rem;
        right: 0;
        width: 100%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;

        gap: 40px;
    }

    .options a {
        color: var(--text-color-p);

    }

    .navbar__icons {
        display: block !important;
        font-size: 30px;
        color: var(--text-color-p);
        cursor: pointer;
    }

    .hidden {
        z-index: -1;
        opacity: 0;
    }
}

@media (max-width: 600px) {
    .footer__navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

@media (max-width: 300px) {
    .hero {
        margin: 0 auto;
    }
}