:root {
    --text-color-b: #011365;
    --text-color-p: #ff008c;
    --text-color-y: #ffb300;
    --red-color: #ff3d00;
    --yelloish-color: #d8c623;

    --dot-color-1: #fbb000;
    --bg-color-main: #ffff;

}