.navbar {
    padding-top: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
    color: var(--text-color-1);
    font-size: 16px;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar__icons {
    display: none;
}

.options {
    display: flex;
    gap: 20px;
    text-transform: capitalize;
}

.hide {
    display: none;
}

._text_logo {
    font-size: 1.7rem;
    color: var(--text-color-p);

}

.text_logo>a {
    font-size: 1.7rem;
    color: var(--text-color-p);
}

._text_logo>span {
    color: var(--text-color-b);
}

.text_logo>a:hover {
    text-decoration: none;
}

.text_logo>a>span {
    color: var(--text-color-b);
}

footer {
    background-color: #ffc84a;
    margin: 40px 0px 0px;
    padding: 20px 0px 20px 0px;
}

.footer__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-items>a {
    text-decoration: none;
    padding: 5px;
    color: var(--text-color-1);
}

address {
    text-transform: none;
}

.socials-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.load-more-btn {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    margin: auto;
    cursor: pointer;
    width: 178px
}


[class *="wp-image-"] {
    width: 100%;
    object-fit: contain;
    /* cropping priority */
    object-position: center;
    height: 400px;
    cursor: pointer;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FF3D00;
    border-bottom-color: #d8c623;
    border-radius: 50%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin: 300px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}