* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* working with navbar  */


.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.hero h1 {
    color: var(--text-color-1);
    font-weight: bolder;
    font-size: 40px;
}

.hero p {
    color: var(--text-color-1);
    font-size: 20px;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: var(--dot-color-1);
    border-radius: 50%;
    display: inline-block;
}



.hero-image {
    width: 100%;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.latest-post {
    margin-top: 2rem;
}

.latest-post>h1 {
    font-family: Roboto;
    font-size: 40px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
}

.carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.grid-post {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    /* margin: 0 3rem; */
}

.post {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 9px 0px #0000004d;
    padding: 12px;
    margin-bottom: 2rem;
}

.featuring {
    color: #ffc84a;
    font-size: 18px;
    font-weight: 500;
}

.post img {
    width: 100%;
}

.most_read_post {
    margin-top: 40px;
}