/* work on all the ebuttons on the page */
.bi-caret-left-fill,
.bi-caret-right-fill {
    color: var(--text-color-b);
    font-size: 1.6rem;
    background-color: var(--text-color-y);
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
    transition: 0.3s;
}

.bi-caret-left-fill:hover,
.bi-caret-right-fill:hover {
    color: var(--text-color-b);
    background-color: var(--text-color-y);
    opacity: 0.4;
}

.btn {
    width: 150px;
    height: 45px;
    font-size: 16px;
    border-radius: 4px;
    border: 2px solid #ffc84a;
    background-color: var(--bg-color-main);
    cursor: pointer;
    text-align: center;
}

.letsStartBtn:hover {
    border: 2px solid var(--text-color-b);
    color: #ffc84a;
    transform: 0.5ms;
}

.load-more-btn {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    margin-bottom: 1rem;
    cursor: pointer;
}

.section_midle_blog {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

}

.back_to_blog {
    align-items: center;
}

.section_midle_blog>a {
    text-decoration: none;

}